<h1>Products Statistics</h1>
<%= "Average: #{@average}" %><br>
<%= "Total Price: #{@total_price}" %><br>
<%= "Max Price: #{@max}" %><br>
<%= "Min Price: #{@min}" %><br>
<%= "Number: #{@number}" %><br>
